<div class="container-fluid footer mt-5">
  <div class="row">
      <!-- name  -->
      <div class="col-lg-6 mt-3 mb-3">
          <h1>FastFoodWeb</h1>
          <a class="copyright" href="https://github.com/jasurbekyusuf/Food-App" >©️ Copyright Jasurbek 2023</a>
      </div>
      <!-- nav  -->
      <div class="col-lg-4 mt-3 mb-3">
          <a class="a" routerLink="">Home</a>
          <a class="a" routerLink="menu">Menu</a>
          <a class="a" routerLink="about">About</a>
          <a class="a" routerLink="contact">Contact</a>
      </div>
      <!-- socialmedia -->
      <div class="col-lg-2 mt-3 mb-3">
          <a class="a" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
          <a class="a" href="https://www.whatsapp.com/" target="_blank"><i class="bi bi-whatsapp"></i></a>
          <a class="a" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
          <a class="a" href="https://www.youtube.com/" target="_blank"><i class="bi bi-youtube"></i></a>
      </div>
  </div>
</div>
